@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

.menu_hamburguer {
    width: 3em;
    height: 3em;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-top: 1.5em;
    margin-left: 20%;
}

.navegacao__lista {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista__botao {
    display: none;
}

.lista__botao:checked~ .navegacao__lista {
    display: block;
}

.cabecalho {
    position: relative;
    justify-content: center;
}


.logo {
    max-width: 50%;
    height: 50%;
    padding: 1.9em 0.5em 0em 1.5em;
}

.lista__paginas {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 1% 0% 0% 2.5%;
}

.navegacao__abas {
list-style-type: none;
text-decoration: none;
color: black;
padding: 1em;
background-color: white;
}

.navegacao__abas a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0,81em;
    text-transform: uppercase;
}

.banner {
    width: 100%;
    height: 20em;
    background-image: url(../assets/caminhao.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.banner__agricultura {
    background-image: url(../assets/plantacao.jpg);
}

.banner__ia-generativa {
    background-image: url(../assets/ia.png);
}

.banner__cultivo {
    background-image: url(../assets/fazendas\ verticais.jpg);
}

.titulo {
    margin-left: auto;
    margin-right: auto; 
    padding-top: 4em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 2.18em;
}

.titulo__agricultura {
    padding-top: 3.5em;
}

.titulo__ia-generativa {
    padding-top: 3em;
    width: 80%;
}

.sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.subtitulo {
    padding-top: 1 em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.87em;
}

.paragrafo {
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.botao__home {
    background-color: #0B089B;
    border-radius: 5px;
    width: 50%;
    padding: 1em;
    text-decoration: none;
    color: white;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:  1em;
    margin-left: 5em;
}

.conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subtitulo__conteudo {
    padding-top: 1 em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.87em;
    width: 80%;
    padding-left: 1.2em;

}

.imagem  {
    width: 100%;
    padding: 1em 0 2em 0;
}

.imagem__solucao {
    width: 60%;
    padding: 2em 0 2em 5em;
}

.negrito {
    font-weight: bold;
}

.exemplos {
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    text-decoration: dashed
}

.rodape {
    background-color: #0B089B;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.titulo__rodape {
    font-weight: bold;
    padding: 0.5em;
}

.integrantes {
    padding: 1em;
}

.contato {
    display: flex;
    flex-direction: column;
}

.subtitulo__contato {
    padding: 2em 0 1em 2em;
}

.formulario {
    padding: 0em 6em;
    font-family: 'Montserrat', sans-serif;
}

.botao__formulario {
    margin: 1em 5em;
}

.texto__agradecimento {
    padding-top: 7em;
    padding-bottom: 4em;
}

.botao__agradecimento {
    margin-bottom: 7em;
}

@media screen and (min-width: 768px) {
    .menu_hamburguer {
    margin-top: 3.2em;
    background-size: 6em;
    }

    .navegacao__abas a{
        font-size: 1.5em;
    }

    .logo {
        padding: 2.5em 0.5em 2em 2em;
    }

    .titulo {
        padding-top: 3em;
        font-size: 3em;
    }

    .subtitulo {
        padding-top: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 3em;
    }

    .paragrafo {
        font-size: 2em;
    }

    .botao__home {
        border-radius: 5px;
        width: 50%;
        padding: 1em;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom:  1em;
        margin-left: 7.4em;
    }

    .subtitulo__conteudo {
        padding-left: 1.8em;
    }

    .titulo__rodape {
        font-size: 2em;
    }

    .integrantes {
        font-size: 2em;
    }

    .imagem__solucao {
        width: 60%;
        padding: 2em 0 2em 10.5em;
    }

    .subtitulo__conteudo {
        font-size: 3em;
    }

    .exemplos {
        font-size: 2em;
    }

    .subtitulo__contato {
        padding: 2em 0 1em 4em;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 1em;
        font-size: 1.5em;
    }

    .botao__formulario {
        padding: 1em 0em;
        font-size: 1em;
    }

    .campo__formulario {
        height: 2em;
        width: 50em;
        padding-left: 3em;
    }

    .texto__agradecimento {
        padding-top: 14em;
        padding-bottom: 8em;
    }

    .botao__agradecimento {
        margin-bottom: 14em;
    }

}