@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

.menu_hamburguer {
    width: 3em;
    height: 3em;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-top: 1.5em;
    margin-left: 20%;
}

.navegacao__lista {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista__botao {
    display: none;
}

.lista__botao:checked~ .navegacao__lista {
    display: block;
}

.cabecalho {
    position: relative;
    justify-content: center;
}


.logo {
    max-width: 50%;
    height: 50%;
    padding: 1.9em 0.5em 0em 1.5em;
}

.lista__paginas {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 1% 0% 0% 2.5%;
}

.navegacao__abas {
list-style-type: none;
text-decoration: none;
color: black;
padding: 1em;
background-color: white;
}

.navegacao__abas a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0,81em;
    text-transform: uppercase;
}

.banner {
    width: 100%;
    height: 20em;
    background-image: url(../assets/caminhao.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.banner__agricultura {
    background-image: url(../assets/plantacao.jpg);
}

.banner__ia-generativa {
    background-image: url(../assets/ia.png);
}

.banner__cultivo {
    background-image: url(../assets/fazendas\ verticais.jpg);
}

.titulo {
    margin-left: auto;
    margin-right: auto; 
    padding-top: 4em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 2.18em;
}

.sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.subtitulo {
    padding-top: 1 em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.87em;
}

.paragrafo {
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.botao__home {
    background-color: #0B089B;
    border-radius: 5px;
    width: 50%;
    padding: 1em;
    text-decoration: none;
    color: white;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:  1em;
    margin-left: 5em;
}

.conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subtitulo__conteudo {
    padding-top: 1 em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.87em;
    width: 80%;
    padding-left: 1.2em;

}

.imagem  {
    width: 100%;
    padding: 1em 0 2em 0;
}

.imagem__solucao {
    width: 60%;
    padding: 2em 0 2em 5em;
}

.negrito {
    font-weight: bold;
}

.exemplos {
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    text-decoration: dashed
}

.rodape {
    background-color: #0B089B;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.titulo__rodape {
    font-weight: bold;
    padding: 0.5em;
}

.integrantes {
    padding: 1em;
}